:root {
  --font-primary: "IntoneMono NF Medium", "Intel One Mono Medium", "Consolas", sans-serif;
  --bg-primary: #000000;
  --bg-secondary: #333333;
  --bg-ternary: #696969;
  --border-primary: 1px solid #FFFFFF;
  --border-secondary: 1px solid #606060;
  --text-primary: #FFFFFF;
  --text-secondary: #606060;
  --text-active: #0080FF;
  --text-red: #FF0000;
  --text-blue: #0080FF;
}

* {
  font-family: var(--font-primary) !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

a,
a:link,
a:visited,
a:hover {
  color: var(--text-primary);
  text-decoration: underline;
}

a:active {
  color: var(--text-active);
}

button,
input,
textarea,
select,
optgroup,
option,
pre,
code,
.input-base,
.form-control,
.form-control:focus {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.input-base {
  margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}

table,
table td,
table tr,
table th,
table thead,
table tbody,
table tfoot {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: var(--border-primary);
}

table th,
table thead,
table tfoot {
  padding: 5px !important;
}

/* Navbar */
.bg-primary,
.navbar-inverse {
  background-color: var(--bg-secondary) !important;
}

a.navbar-brand {
  text-decoration: none;
}

.dropdown-menu {
  background-color: var(--bg-secondary) !important;
  border: var(--border-secondary);
}

/* Breadcrumbs */
.breadcrumb,
.breadcrumb-item {
  background-color: var(--bg-ternary);
  color: var(--text-primary) !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--text-primary) !important;
}

/* Money widget */
.drhYCx {
  display: none !important;
}

/* Timer widget */
.timer {
  background-color: var(--bg-primary);
  border: var(--border-primary);
  z-index: 999 !important;
}

/* Work on projects */
.dAOGex::after,
.dAOGex::before {
  background: none;
}

.dAOGex .tw-text-black-90,
.dAOGex .tw-text-black-80 {
  color: var(--text-primary) !important;
}

.tw-bg-white,
.tw-bg-white-100 {
  background-color: var(--bg-primary);
}

/* Tasks */
.kbTkQg *,
.surge-wysiwyg * {
  color: var(--text-primary);
}

.kbTkQg mark[style*="background-color: rgb(255, 217, 102)"] {
  background-color: var(--bg-secondary) !important;
}

.kbTkQg button.tw-bg-white,
.kbTkQg button.tw-bg-white-100 {
  background-color: var(--bg-ternary);
}

.kbTkQg h1,
.kbTkQg h2,
.kbTkQg h3,
.kbTkQg h4,
.kbTkQg h5,
.kbTkQg h6,
.kbTkQg strong,
.kbTkQg b {
  color: var(--text-primary);
}

.kbTkQg *[style*="color: rgb(0, 0, 0)"],
.kbTkQg *[style*="color: black"],
.kbTkQg *[style*="color: rgb(0, 0, 0)"],
.kbTkQg *[style*="color: rgb(103, 78, 167)"] {
  color: var(--text-primary) !important;
}

.kbTkQg *[style*="color: rgb(204, 0, 0)"] {
  color: var(--text-red) !important;
}

.kbTkQg *[style*="color: rgb(60, 120, 216)"] {
  color: var(--text-blue) !important;
}

.hkgXCF {
  border: var(--border-secondary);
}
